/data/*
/models/*
/admin/state/
/admin/workspaces/
.DS_Store

# secrets / local env
.env
.env.*
!**/.env.example
!frontend/.env.test

# python
__pycache__/
*.pyc
.venv/

# frontend
node_modules/
dist/
*.tsbuildinfo

# db
/db/seeds/*.sql
